{% extends "base.html" %}

{% block head %}{% endblock %}

{% block body %}
    <header>
        <h1> Car repair records </h1>
    </header>

    <main>

        <div class="login-div">
            <a href="/login" id="login">Login</a>
        </div>

        <form method="POST" action="/">
            <div class="h-box-main">

                <div class="grid-1">
                    <label for="mileage">Mileage : </label>
                    <input id="mileage" type="text" name="mileage">
                    <label for="date">Date : </label>
                    <input id="date" type="date" name="date" value="{{ today }}">
                    <label for="description">Description : </label>
                    <input id="description" type="text" name="description">
                    <label for="price">Price : </label>
                    <input id="price" type="text" name="price">
                </div>

                <div class="buttons">
                    <button type="submit" id="add-button" name="event" value="add-entry">Add entry</button>
                </div>

            </div>
        </form>

        {% if not entries %}
            <p>There are no entries, add the first entry ...</p>

        {% else %}

            <table>

                <tr>
                    <th>Select</th>
                    <th>Id</th>
                    <th>Mileage</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Edit</th>
                </tr>

                {% for entry in entries %}
                <tr>
                    <td>
                        <input type="checkbox" name="checkbox" id="checkbox" value="{{ entry.id }}">
                    </td>
                    <td>{{entry.id}}</td>
                    <td>{{entry.mileage}}</td>
                    <td>{{entry.date}}</td>
                    <td>{{entry.description}}</td>
                    <td>{{entry.price}}</td>
                    <td>
                        <a href="/edit/{{ entry.id }}">Edit</a>
                    </td>
                </tr>
                {% endfor %}

            </table>

        {% endif %}

    </main>

    <footer>
        <hr>
        <p>author: Peter Szepesi</p>
        <p>&copy; copyright reserved</p>
        <small><a href="mailto:szpeto12@gmail.com">szpeto12@gmail.com</a></small>
    </footer>
{% endblock %}